ul {
    list-style: none;
}

nav{
    width: 100%;
    background-image: url(./img/fondonegro.jpg);
}
.escudo {
    padding: 15px;
}

.navbar-brand{
    color: yellow;
}

.nav-link{
    color: yellow;
}
