main section h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px;
}



main {
    height:100%;
    background-image: url(./img/fondoverde.jpg);
    width: 100%;
}
