
.c-color{
    color:lightcyan;
}

.f-size{
    font-size: 1rem;
}

.f-size20p{
    font-size: 20px;
}

.f-size15p{
    font-size: 15px;
}

.c-negro{
    color: black;
}

    .c-blanco{
        color: white;
    }


.c-amarillo{
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
        color: #FFFFFF;
    
}

.justificado{
    text-align: center;
}


p{
    margin-bottom: 0%;
}

.titulominis{
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px;
}